.table-container {
    max-width: 100%;
    overflow-x: auto;
}

table {
    min-width: 650px;
    max-width: 1300px;
    padding: 0;
    line-height: 1.5;
    font-size: 14px;
}

table, tr {
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 2px solid #454A4D;
}
th, td {
    padding: 16px;
    vertical-align: middle;
}

tbody td[align="center"] {
    text-align: center;
}

table a {
    padding: 5px 10px;
    border: 2px solid currentColor;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.filters__filter-element {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.filters__filter-element input {
    height: 25px;
}

table a[color="green"] {
    color: #4cceac;
}

@media screen and (min-width: 1920px) {
    .data-table {
        margin: 0 auto;
    }
}
