.form-page-main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555A63;
    color: #CFDDE5;
}

form {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
    background-color: #454A4D;
    border-radius: 25px;
    padding: 50px;
}

form a {
    color: #CFDDE5;
}

.form__field {
    min-height: 25px;
    display: flex;
    justify-content: space-between;
}

.form__field__input-container,
.form__field__input-container input {
    width: 150px;
}

.form__field__input-container[data-error=true] input {
    border-color: #e31d19;
}

.form__field__input-container:after {
    content: attr(data-error-message);
    color: #e31d19;
    font-size: 12px;
}

.form__submit {
    margin: 10px 0 0 0;
    padding: 7px 10px;
    border: 1px solid #efffff;
    border-radius: 3px;
    width: 100%;
    font-size: 15px;
    display: block;
    cursor: pointer;
    transition: .2s;
}

.form__submit:hover {
    background-color: #bbbbbd;
    border-color: #bbbbbd;
}
