/* ===== UserForm ===== */

.user-dialog__header {
    display: flex;
    justify-content: space-between;
}

.user-dialog__header__close-btn {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .user-dialog form {
        width: calc(100% - 40px);
        padding: 25px 10px !important;
    }
}

/* ===== UserPage ===== */

.profile-data {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-data__element {
    display: flex;
    gap: 10px;
    align-items: center;
}

.loader-outer {
    width: 100%;
    height: 5px;
    display: flex;
    animation: loading-outer 1.5s linear infinite;
}

.loader-inner {
    height: 5px;
    background-color: #8A9399;
    animation: loading-inner 1.5s ease-in-out infinite;
}

@keyframes loading-outer {
    0% { flex-direction: row; }
    100% { flex-direction: row-reverse; }
}

@keyframes loading-inner {
    0% { width: 0; }
    50% { width: 100%; }
    100% { width: 0; }
}
