/* ===== UserForm ===== */

.user-dialog__header {
    display: flex;
    justify-content: space-between;
}

.user-dialog__header__close-btn {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .user-dialog form {
        width: calc(100% - 40px);
        padding: 25px 10px !important;
    }
}

/* ===== UserPage ===== */

.profile-data {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-data__element {
    display: flex;
    gap: 10px;
    align-items: center;
}
