.App {
  text-align: center;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ----- Modal Dialog ----- */
dialog {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all .2s;
  color: white;
}

dialog[open] {
  display: flex;
  align-items: center;
  justify-content: center;
}

dialog form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 15px;
  background-color: #454A4D;
  width: 330px;
  padding: 25px;
  border-radius: 25px;
}

.row-container {
  display: flex;
  justify-content: space-between;
}
